<div class="c3 med-c6 sml-c12">
  <tr>
    <td><%= venue.name %></td>
    <td><%= number_with_delimiter(venue.distance) %> feet</td>
    <td><%= number_with_delimiter(venue.checkins) %></td>
  </tr>
</div>
