<% if @venues && @venues.count > 0 %>
  <table>
    <thead>
      <th>Name</th>
      <th>Distance</th>
      <th>Number of Check-ins</th>
    </thead>
    <% @venues.each do |venue| %>
      <%= render :partial => 'venue_detail', :locals => { :venue => venue } %>
    <% end %>
  </table>
  <div class="map">
    <div id="map">

    </div>
  </div>
  <p><a href ="#" class="js-view-map">View results on a map</a></p>
<% else %>
  <p>There are no coffee shops in <%= params[:postcode] %></p>
<% end %>
