<% if @venues && @venues.count > 0 %>
  <table>
    <thead>
      <th>Name</th>
      <th>Distance</th>
      <th>Number of Check-ins</th>
    </thead>
    <% @venues.each do |venue| %>
      <%= render :partial => 'venue_detail', :locals => { :venue => venue } %>
    <% end %>
  </table>
  <!-- <p><a href ="#" class="js-view-map">View results on a map</a></p> -->
  <div class="map-holder">
    <div id="map"></div>
  </div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function (){
      markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>
<% else %>
  <p>There are no coffee shops in <%= params[:postcode] %></p>
<% end %>
