<% if @venues && @venues.count > 0 %>
<ul class="tab-list">
  <li role="presentation" class="active"><a class="tab-control" href="#map-panel">Map</a></li>
  <li role="presentation"><a class="tab-control" href="#list-panel">List</a></li>
</ul>
  
  <!-- <p><a href ="#" class="js-view-map">View results on a map</a></p> -->
  <div id ="map-panel" class="tab-panel active">
    <div id="map">
      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function (){
          markers = handler.addMarkers(<%=raw @map_markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      </script>
    </div>
  </div>

  <div id="list-panel" class="tab-panel">
    <table>
      <thead>
        <th>Name</th>
        <th>Distance</th>
        <th>Number of Check-ins</th>
      </thead>
      <tbody>
        <% @venues.each do |venue| %>
          <%= render partial: 'venue', locals: { venue: venue } %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>There are no coffee shops in <%= params[:postcode] %></p>
<% end %>
