<nav class="views">
  <ul>
    <% %w[list map].each do |view| %>
      <%= venue_list_for(view) %>
    <% end %>
  </ul>
</nav>

<% if @venues && @venues.count > 0 %>
  <table>
    <thead>
      <th>Name</th>
      <th>Distance</th>
      <th>Number of Check-ins</th>
    </thead>
    <% @venues.each do |venue| %>
      <%= render :partial => 'venue_detail', :locals => { :venue => venue } %>
    <% end %>
  </table>
  <p><a href ="#" class="js-view-map">View results on a map</a></p>
  <div class="map-holder">
    <div id="map"></div>
  </div>
<% else %>
  <p>There are no coffee shops in <%= params[:postcode] %></p>
<% end %>
